# Lingkungan Virtual Python
venv/
__pycache__/
*.pyc

# Database
*.sqlite3
*.sql
db.sqlite3

# File Konfigurasi Lokal
.env
*.env
.env.*

# File Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# File Log
logs/
*.log

# File Media (jika Anda mengunggah file)
media/

# File Statis (hasil dari 'collectstatic')
staticfiles/

# Laporan & Build
.coverage
htmlcov/
dist/
build/
*.egg-info/